<!DOCTYPE html>
<html class="desktop mbr-site-loaded"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="./static/logo2.png" type="image/x-icon">
  <meta name="description" content="Shopping Cart HTML Template Free Download">
  <title>Tillit | Trust based SME Lending</title>
  <link rel="stylesheet" href="./static/mobirise-icons-bold.css">
  <link rel="stylesheet" href="./static/css">
  <link rel="stylesheet" href="./static/mobirise-icons.css">
  <link rel="stylesheet" href="./static/bootstrap.min.css">
  <link rel="stylesheet" href="./static/bootstrap-grid.min.css">
  <link rel="stylesheet" href="./static/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="./static/styles.css">
  <link rel="stylesheet" href="./static/style.css">
  <link rel="stylesheet" href="./static/style(1).css">
  <link rel="stylesheet" href="./static/style(2).css">
  <link rel="stylesheet" href="./static/mbr-additional.css" type="text/css">
  
  
  
<style type="text/css" id="#jarallax-clip-0">#jarallax-container-0 {
   clip: rect(0 1351px 624px 0);
   clip: rect(0, 1351px, 624px, 0);
}</style></head>
<body>


<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PFK425"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script type="text/javascript" id="www-widgetapi-script" src="./static/www-widgetapi.js" async=""></script><script src="./static/iframe_api"></script><script async="" src="./static/gtm.js"></script><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PFK425');</script>
<!-- End Google Tag Manager -->



<section class="menu cid-qyXbTBAY8L" once="menu" id="menu3-8p" data-rv-view="3302">

    
    

    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="navbar-brand">
            <span class="navbar-logo">
                <a href="/">
                    <img src="./static/logo.png" alt="Trust Based SME Lending" title="" media-simple="true" style="height: 3.8rem;">

                </a>
            </span>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav" data-app-modern-menu="true"><li class="nav-item">
                    <a class="nav-link link display-4" href="/listideas">
                        View Ideas</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link link display-4" href="/leaderboards"style="
    text-align: center;
    justify-content: center;
">Leaderboards</a>
                </li></ul>
            <div class="icons-menu">
             {% if is_logged_in %}
             {{ username }} <a href="/logout">(Logout)</a>
             {% else %}
              <a href="/login" target="_blank">Login</a>
             {% endif %}
              
              
              
              
              
            </div>
            
    </div></nav>
</section>

<section class="header10 cid-qz2XMZSPXo mbr-fullscreen mbr-parallax-background" id="header10-8q" data-rv-view="3271" data-jarallax-original-styles="null" style="z-index: 0; position: relative; background-image: none; background-attachment: scroll; background-size: auto;">
    {% block content %}{% endblock %}
    
</section>

<section class="cid-qz2YU1tayr" id="footer4-8u" data-rv-view="3299">

    

    <div class="mbr-overlay" style="background-color: rgb(35, 35, 35); opacity: 0.4;"></div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="first-column col-md-4 align-left">
                <p class=""><strong>Crafted with <span class="red">&#10084;</span> by Team FifthEye</strong></p>
            </div>
        </div>
    </div>
</section>


  <script src="./static/jquery.min.js"></script>
  <script src="./static/popper.min.js"></script>
  <script src="./static/bootstrap.min.js"></script>
  <script src="./static/typed.min.js"></script>
  <script src="./static/smooth-scroll.js"></script>
  <script src="./static/script.js"></script>
  <script src="./static/script.min.js"></script>
  <script src="./static/jquery.touch-swipe.min.js"></script>
  <script src="./static/jarallax.min.js"></script>
  <script src="./static/script(1).js"></script>
  <script src="./static/player.min.js"></script>
  <script src="./static/script(2).js"></script>
  
  

</body></html>