{% extends 'base.html' %}

{% block content %}
    <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(204, 204, 204);">
    </div>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="mbr-white col-md-12 col-lg-10">
                <h1 class="mbr-section-title mbr-bold mbr-fonts-style align-center display-1">
                    "Tillit" means Trust in Norwegian
                    </h1>
                <div class="typed-text pb-3 align-center display-1">
                    <span class="mbr-section-subtitle mbr-fonts-style display-1">
                          Tillit
                    </span>
                    <span>
                      <span class="animated-element mbr-bold" data-word2="Connects SME to Experts" data-word1="Promotes SME Lending" data-word3="Showcases New Ideas" data-word4="Builds the future" data-word5="" data-speed="16" data-words="3">New Ideas</span><span class="typed-cursor">|</span>
                    </span>
                </div>
                <p class="mbr-section-text mbr-fonts-style align-center display-5">
                    Tillit is a trust-based SME Lending Platform where Subject matter experts can "vouch" for ideas which are in need of SME Loans.
                </p>
                <div class="pt-3 mbr-section-btn align-center">
                    <a class="btn-secondary btn btn-md display-4 mbr-white" type="submit" href="/listideas">Show Ideas</a>
                </div>
            </div>
        </div>
    </div>
    
<div id="jarallax-container-0" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -100;"><div style="background-position: 50% 50%; background-size: 100%; background-repeat: no-repeat; background-image: url(&quot;https://mobirise.com/html-templates/shopping/assets/images/background10.jpg&quot;); position: fixed; top: 0px; left: 0px; width: 1351px; height: 902.074px; overflow: hidden; pointer-events: none; margin-left: 0px; margin-top: -139.037px; visibility: visible; transform: translate3d(0px, 0px, 0px);"></div></div></section>

{% endblock %}