{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid pxgap30">
     <div class="list-title">{{ title }} </div>
     <ul class="entries row">
      {% for entry in ideas%}
      <li>
      <div class="idea"> 
          <div class="votes">
              <div class="mini-counts"><span>{{ entry.vouches }}</span></div>
          <div class="vouchtext">vouches</div>
          </div>
          <div class="details">
              <a href="/idea-{{entry.idea_id}}"><h2>{{ entry.title|truncate(60) }}</h2></a>
          <span class="desc">{{ entry.description|truncate(100) }}</span>
          <span class="user">{{ entry.username }}</span>
          </div>
      </div>
      </li>
      {% else %}
        <li><em>Unbelievable.  No entries here so far</em></li>
      {% endfor %}
      </ul>
    </div>
    

</section>

{% endblock %}