{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid center-text">
        <form method="post">
            <p><div class="tag">Username</div><input type=text name=username></p>
            <p><div class="tag">Password</div><input type=password name=password></p>
            <p><input type=submit value=Login class="btn-secondary btn btn-md display-4 mbr-white">
        </form>
    </div>
    
{% endblock %}