{% extends 'base.html' %}

{% block content %}

    <div class="">
     <div class="list-title">{{ title }} </div>
     <ul class="entries row">
      <li>
      <div class="idea"> 
          <div class="votes">
              <div class="mini-counts"><span>{{ idea.vouches }}</span></div>
          <div class="vouchtext">vouches</div>
          </div>
          <div class="details">
          <h2>{{ idea.title|truncate(60) }}</h2>
          <div class="desc-div">{{ idea.description }}</div>
          <span class="user">{{ idea.username }}</span>
          </div>
      </div>
      </li>
      </ul>
    <div class="container-fluid loan-status">
        {% if is_mine %}
       <div class="loan-title">Current Loan Sanction </div>
       {% if idea.vouches > 0 %}
       <div class="loan-amt"> <b>Rs. {{ loan_amount_1 }}</b> at an interest rate of <b>{{ "%.2f"|format(interest_amount_1) }}%</b><a class="confirm" href="/confirm">Confirm Loan</a></div>
       <div class="or">or</div>
       <div class="loan-amt"> <b>Rs. {{ loan_amount_2 }}</b> at an interest rate of <b>{{ "%.2f"|format(interest_amount_2) }}%</b><a class="confirm" href="/confirm">Confirm Loan</a></div>
       <div class="vouchtext"> (based on the vouches of {{ idea.vouches }} people, adjusted as per subject matter expertise)
       {% else %}
       <div class="loan-amt"> Rs. 0 </div>
       <div class="not-yet-vouched">Your idea has not been vouched by anyone yet! Reach out to subject matter experts on Tillit to vouch for your idea.<br/> <br/> The more vouches you get from high quality technical experts, the better loan conditions Tillit can provide</div>
       {% endif %}
       {% elif is_vouched %}
       <a class="btn-primary btn btn-md display-4 mbr-white disabled" type="submit" href="#">Already Vouched</a>
       {% else %}
       <a class="btn-secondary btn btn-md display-4 mbr-white" type="submit" href="/vouch/{{ idea.hash }}">Vouch For This Idea</a>
       {% endif %}

    </div>
    </div>
</section>

{% endblock %}